.card {
    background: #e7eb73;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2fedcd, #cb3b1e);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #20b1da, #d982db); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}